@import "_variables";

.product-details-wrapper {
    max-width: 1033px;
    margin: 50px 50px auto;
}

.product-details {
    .product-image {
        float: left;
        width: 400px;

        img.big-image {
            width: 400px;
            height: 400px;
            padding: 20px;
            border: 1px solid #F2F2F2;
        }

        .small-images {
            width: 80%;
            margin: 20px auto;

            .small-image {
                width: 60px;
                height: 60px;
                border: 2px solid white;

                &:hover {
                    border: 2px solid black;
                }
            }
        }
    }

    .basic-info {
        margin-left: 422px;

        .title {
            font-size: 18px;
            font-weight: bold;
        }

        .subtitle {
            color: $tmall-red;
        }

        .juhuasuan {
            margin-top: 10px;
            padding: 10px;
            background-color: #2DA77A;
            text-align: center;
            color: white;

            .datetime-to-go {
                color: #DEBB5E;
            }
        }

        .price {
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            background-image: url("../img/site/priceBackground.png");

            img {
                height: 15px;
            }

            .description {
                display: inline-block;
                width: 80px;
            }

            .amount:before {
                content: "¥";
            }

            .original .amount {
                text-decoration: line-through;
            }

            .promotion .amount {
                font-size: 32px;
                font-weight: bold;
                color: $tmall-red;
            }
        }

        .deals-comments {
            border-top: 1px solid #CCC;
            border-bottom: 1px solid #CCC;
            padding: 10px;
            margin: 10px auto;

            .number {
                color: $tmall-red;
            }

            .deals {
                display: inline-block;
                width: 50%;
                text-align: center;
                border-right: 1px solid #CCC;
            }

            .comments {
                display: inline-block;
                width: 49%;
                text-align: center;
            }
        }

        .quantity-stock {
            margin: 20px auto;
            text-indent: 10px;
            color: #888;

            input {
                width: 30px;
            }
        }

        .service-guarantee {
            margin: 20px;

            .title {
                font-size: 12px;
                font-weight: normal;
                color: #AAA;
            }

            .guarantees a {
                color: #333;
            }
        }

        .actions {
            text-align: center;
            font-size: 16px;

            button {
                display: inline-block;
                width: 180px;
                height: 40px;
                border: 1px solid $tmall-red;
            }

            button.buy-now {
                color: $tmall-red;
                background-color: #FFEDED;
            }

            button.add-to-cart {
                color: white;
                background-color: $tmall-red;
            }
        }
    }
}