
body {
    font-size: 12px;
    font-family: Arial;
}

a {
    color: #999;
	&:hover {
		color: #C40000;
        text-decoration: none;
	}
}

* {
    padding: 0;
    margin: 0;
}

ul {    
    list-style: none;
}