.search {
    position: relative;

    img.logo {
        position: absolute;
        top: 0px;
        margin: -30px;
        left: 0px;
        z-index: -1;
    }

    .searchDiv {
        background-color: #C40000;
        padding: 1px;
        width: 400px;
        height: 40px;
        margin: 20px 0px 0px 250px;
        display: block;

        input {
            width: 275px;
            border: 1px solid transparent;
            height: 36px;
            margin: 1px;
            outline: none;
        }

        .searchButton {
            width: 110px;
            background-color: #C40000;
            border: 1px solid transparent;
            font-size: 20px;
            font-weight: bold;
            color: white;
        }

        .searchBelow {
            margin-top: 3px;
            margin-left: -20px;

            a {
                padding: 0 20px;
                border-right: 1px solid;
                font-size: 14px;
                position: relative;

                &:last-child {
                    border-right: 0px;
                }
            }
        }
    }
}
