@import "_variables";

.shopping-cart-wrapper {
    max-width: 1033px;
    margin: auto;
    margin-top: 50px;
}

.shopping-cart {
    /*align checkbox with label*/
    input[type=checkbox] {
        vertical-align: -2px;
    }
    /*checkout buttons*/
    .checkout {
        background-color: #AAAAAA;
        color: white;
        border: 0;
    }

    .price {
        color: $tmall-red;
        font-weight: bold;
    }

    .header {
        text-align: right;

        .checkout {
            padding: 5px 15px;
        }
    }

    .order-items {
        margin: 20px auto;
        padding: 30px;
        width: 100%;
        background-color: white;
        text-align: left;
        border: 1px solid #CCC;
        border-collapse: collapse;

        td {
            padding: 10px;
        }

        .order-item {
            border-bottom: 1px solid #CCC;


            .product-image {
                width: 80px;
                height: 80px;
            }

            .product-link {
                vertical-align: top;
            }

            .product-gurantee {
                vertical-align: bottom;
            }

            .price-original {
                text-decoration: line-through;
            }

            .input-group {
                width: 100px;
            }
        }
    }

    .footer {
        margin: 20px 0;
        padding-left: 20px;
        height: 50px;
        background-color: #E5E5E5;
        color: black;
        text-align: left;

        .select-all {
            line-height: 50px;
        }

        .summary {
            .count {
                color: $tmall-red;
            }

            .checkout {
                width: 120px;
                height: 50px;
                font-size: 20px;
            }
        }
    }
}
