.sorting-pricing-wrapper {
    max-width: 1013px;
    margin: 10px auto;
}

.sorting-pricing {
    font-size: 10px;

    .sorting {
        display: inline-block;
        /*border: 1px solid #CCC;*/
        border-collapse: collapse;

        td {
            height: 17px;
            font-size: 12px;
            color: #806F66;
            border: 1px solid #ccc;
            padding: 3px;
        }
    }

    .pricing {
        display: inline-block;
        border-collapse: collapse;

        input {
            width: 50px;
            /*height: 15px;*/
            padding: 2px;
            border: 1px solid #CCC;
        }
    }
}
