@import "_variables";

.my-orders-wrapper {
    max-width: 1033px;
    margin: auto;
    margin-top: 50px;
}

/*.my-orders {
    .tab-headers {
        

        div {
            border-bottom: 2px solid #E8E8E8;
            float: left;

            a {
                border-right: 1px solid #E8E8E8;
                display: inline-block;
                font-size: 16px;
                font-weight: bold;
                color: black;
                margin-bottom: 10px;
                padding: 0px 20px;
                text-decoration: none;

                &:hover, &.active {
                    color: $tmall-red;
                    border-bottom: 2px solid $tmall-red;
                }
            }

            &:last-child {
                overflow: hidden;
                float: none !important;
                border-bottom: 2px solid #E8E8E8;
                height: 35px;
            }

           
            padding: 10px 15px;
            font-size: 16px;
            font-weight: bold;

            &.active {
                border-bottom: 2px solid $tmall-red;

                a {
                    color: $tmall-red;
                }
            }
        }
    }
}*/

.my-orders {

    .tab-headers {
        .tab-header {
            border-bottom: 2px solid #E8E8E8;
            float: left;

            &.active {
                border-bottom-color: $tmall-red;
            }

            &:hover {
                border-bottom-color: $tmall-red;
            }

            &.last {
                overflow: hidden;
                float: none !important;
                box-sizing: content-box;
                height: 26px;
            }

            a {
                border-right: 1px solid #AAA;
                display: inline-block;
                font-size: 16px;
                line-height: 16px;
                font-weight: bold;
                color: black;
                margin-bottom: 10px;
                padding: 0px 20px;
            }
        }
    }

    .orders {
        width: 100%;
        margin: 20px 0px;
        font-size: 12px;
        border-collapse: collapse;

        .item {
        }

        .price {
            width: 100px;
        }

        .quantity {
            width: 100px;
        }

        .paid {
            width: 120px;
        }

        .operation {
            width: 100px;
        }

        .header {
            border: 1px solid #E8E8E8;
            margin-bottom: 10px;
            background-color: #F5F5F5;
            text-align: center;

            td {
                padding: 15px;
            }
        }

        .order {
            border-collapse: separate;
            margin: 10px auto;

            &:before {
                line-height: 1em;
                content: "_";
                color: white;
                display: block;
            }

            tr.first-row {
                border: 2px solid #CCC;
                border-bottom: none;
                background-color: #F1F1F1;

                .action {
                    text-align: right;
                    font-size: 16px;
                }
            }

            tr.second-row {
                border: 2px solid #CCC;
                border-top: none;

                .product-image {
                    float: left;
                    width: 80px;
                    height: 80px;
                }

                .content {
                    position: relative;                    
                    height: 80px;
                    
                    .description {
                        padding-left: 10px;
                    }

                    .gurantee {
                        margin-left: 90px;
                        position: absolute;
                        bottom: 0px;
                    }
                }

                .total {
                    font-weight: bold;
                    vertical-align: top;
                }

                .action {
                    vertical-align: top;
                    text-align: center;

                    button {
                        padding: 5px 10px;
                        font-weight: bold;
                    }
                }
            }

            &:hover {
                tr.first-row {
                    border-color: #333;
                }

                tr.second-row {
                    border-color: #333;
                }
            }

            td {
                padding: 10px;
            }
        }
    }
}
