.logo-and-search {
    position: relative;
    height: 75px;
    background-color: #FFF;

    .logo {
        /*position: absolute;*/
        /*top: 0px;*/
        /*margin: -10px -30px;*/
        /*left: 0px;*/
        /*z-index: -1;*/
        img {
            width: 145px;
            height: 65px;
            position: relative;            
        }
    }

    .search {
        position: absolute;
        top: 10px;
        left: 155px;
        padding: 1px;
        width: 400px;
        height: 40px;
        display: block;
        background-color: #C40000;


        input {
            width: 275px;
            border: 1px solid transparent;
            height: 36px;
            margin: 1px;
            outline: none;
        }

        .searchButton {
            width: 110px;
            background-color: #C40000;
            border: 1px solid transparent;
            font-size: 20px;
            font-weight: bold;
            color: white;
        }

        .searchBelow {
            margin-top: 3px;
            margin-left: -20px;

            a {
                padding: 0 20px;
                border-right: 1px solid;
                font-size: 14px;
                position: relative;

                &:last-child {
                    border-right: 0px;
                }
            }
        }
    }
}
